
.settings.xml
node_modules/

# Ignore Eve icons.
static/img/Types
static/img/Renders
static/img/Players
static/img/Icons
static/img/Corporations

# Also ignore data dumps and other SQL files.
sql/eveonline-*.sql.gz
sql/*.mwb.bak
sql/*.sql

