
@import borders
@import colors
@import gradients
@import shadows

body {
    background-color: color-background;
    gradient-stripes: 10px 0.05;
    font-family: sans-serif;
    font-size: 14px;
    color: color-font;
}

body > div {
    margin: 0 auto;
    width: 90%;
    padding: 0.5em;
}

input {
    background-color: color-secondary;
    border: 1px solid color-border;
    border-radius: 5px;
    shadow-inner-drop: color-shadow;
    padding: 0.25em;
    padding-left: @padding * 2;
    margin-right: 0.25em;
    height: 1.25em;

    &:focus {
        shadow-inner-drop: color-shadow-dark;
        outline: none;
    }

    &.number {
        text-align: right;
        padding-left: @padding;
        padding-right: @padding * 2;
    }

    &.default {
        color: @background-color * 2;
    }
}

p {
    margin: 0;

    & + p {
        margin-top: 0.5em;
    }
}

ol, li {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

