
@import borders
@import selection
@import shadows

.button {
    border: border-default( transparent );
    display: inline-block;
    border-radius: 1em;
    padding: 4px 6px;
    height: 1.25em;
    cursor: pointer;
    user-select: none;
    user-drag: none;

    &:hover {
        border-color: color-border;
        background-color: color-primary-lighter;
    }

    &:hover:active {
        padding: 5px 5px 3px 7px;
        shadow-sunk( color-shadow-light );
    }

    & * {
        user-select: none;
        user-drag: none;
    }
}

.combo-button {
    border: border-default();
    border-radius: 5px;
    display: inline-block;
    height: 1.5em;
    clear: both;
    overflow: hidden;

    & > input,
    & > .button {
        height: 100%;
        border: none;
        border-radius: 4px;
        margin: 0;
        padding: 0;
        float: left;
    }

    & > input {
        border-right: border-default();
        border-right-radius: 0;
        padding-right: 0.25em;
    }

    & > .button {
        border-left-radius: 0;
        padding: 1px 4px 1px 4px;

        &:hover:active {
            padding: 2px 3px 0 5px;
        }

        & > img {
            max-height: 1.25em;
        }
    }
}

