
clickable( top, right = top, bottom = top, left = right ){
    cursor: pointer;
    padding: top right bottom left;

    &:hover:active {
        padding: (top + 1) (right - 1) (bottom - 1) (left + 1);
    }
}

clear-button( color, top, right = top, bottom = top, left = right ){
    clickable: top right bottom left;
    background-color: transparent;
    border-color: transparent;
    margin-top: 1px;

    &:hover {
        box-shadow: inset 1px 1px (color * 2), inset -1px -1px (color / 2);
        border-color: color;

        &:active {
            box-shadow: inset 1px 1px (color / 2), inset -1px -1px (color * 2);
            margin-top: 0;
        }
    }
}

