
color-primary           = #666;
color-primary-lighter   = lighten( color-primary, 33% );

color-secondary         = (color-primary * 2 / 3);
color-secondary-lighter = lighten( color-secondary, 15% );

color-background        = #080808;
color-border            = (color-primary * 1.6666);

color-font              = #000;
color-font-dark         = #555;
color-font-light        = #ddd;

color-shadow            = (color-secondary / 2);
color-shadow-dark       = darken( color-shadow, 75% );
color-shadow-darkest    = darken( color-shadow, 200% );
color-shadow-light      = color-shadow * 2;
color-shadow-lightest   = color-shadow * 3;

