
@import borders
@import clickables
@import shadows

#header,
#body {
    border: 3px solid #aaa;
    box-shadow: 8px 8px 16px #000;
}

#header {
    color: #ddd;
    margin-top: 2em;
    border-radius: 15px 0 0 0;
    border-bottom: none;
    background-image: url('/img/thanatos-crop.png');
    background-position: 20em;
    background-repeat: no-repeat;
    background-color: #0a0b0d;
    height: 100px;
}

#body {
    background-color: #666;
    margin-bottom: 1em;
    border-radius: 0 0 15px 0;
    min-height: 300px;
}

#footer {
    color: #555;
}

#header > .menu {
    margin: 0.75em 0;

    & > li {
        margin: 0 0.25em;
    }
}

#header > h1 {
    margin: 0;
}

#header > .user > .login {
    & > input {
        margin: 0;
        width: 8em;

        &:nth-child(1) {
            border-right-radius: 0;
        }
        &:nth-child(2) {
            border-left-radius: 0;
        }
    }

    & > .button {
        padding: 5px;
        clear-button: #444;
    }
}

