
background-linear-gradient(){
    background-image: -webkit-linear-gradient( arguments );
    background-image: -moz-linear-gradient( arguments );
    background-image: -o-linear-gradient( arguments );
    background-image: linear-gradient( arguments );
}

gradient-stripes( size, opacity = 1, angle = 135deg ){
    background-linear-gradient: angle,
        rgba( 255, 255, 255, opacity )  25%,
        rgba( 255, 255, 255, 0 )        25%,
        rgba( 255, 255, 255, 0 )        50%,
        rgba( 255, 255, 255, opacity )  50%,
        rgba( 255, 255, 255, opacity )  75%,
        rgba( 255, 255, 255, 0 )        75%,
        rgba( 255, 255, 255, 0 )        100%;
    background-size: size size;
}

