
@import borders

.killboard > .brief {
    clear: both;
    overflow: hidden;

    & > .losers,
    & > .data > div,
    & > .winners {
        border: 1px solid #aaa;
    }

    & > .losers {
        float: left;

        & > .user {
            background-color: rgba( 64, 0, 0, 0.2 );
            overflow: hidden;
        }
    }

    & .data {
        margin: 0 150px;

        & > div {
            padding: 0.25em;
            overflow: hidden;
            margin-bottom: 0.5em;
            min-width: 500px;
        }

        & p {
            margin: 0;
            font-size: 0.8em;
        }

        & > .ship {
            & > .winner,
            & > .loser {
                width: 45%;
            }

            & > .loser,
            & > .loser img {
                float: left;
                text-align: left;
            }

            & > .winner,
            & > .winner img {
                float: right;
                text-align: right;
            }

            & img {
                margin: 0.25em;
            }
        }

        & .titles {
            float: left;
            margin: 0;
            text-align: center;
        }
    }

    & > .winners {
        float: right;
    }

    & .user {
        padding: 0.5em;

        & > .icon {
            & img {
                border-radius: 5px;
            }

            &.player {
                width: 128px;
                height: 128px;
                border: 1px solid #aaa;
                border-radius: 5px;
            }

            &.corporation,
            &.alliance {
                float: left;

                & img {
                    width: 64px;
                    height: 64px;
                }
            }
        }

        & > .name {
            text-align: center;
            margin: 0.5em;
        }
    }
}

