
@import borders
@import clickables
@import colors
@import selection
@import shadows

.menu {
    list-style: none;
    padding: 0;

    & > * {
        position: relative;
        border-radius: 1em;
        user-select: none;
        user-drag: none;
        border: border-default( color-secondary );
        padding: 0.25em 0.5em;
        clear-button: color-secondary 0.25em 0.5em;

        & > .submenu {
            position: absolute;
            display: none;
            top: 1.375em;
            width: 10em;
        }

        &:hover > .submenu {
            display: block;
        }
    }

    &.horizontal {
        overflow: hidden;
        display: block;

        & > * {
            float: left;
        }
    }

    & .submenu > .menu {
        padding: 0;
        display: inline-block;

        & > * {
            background: none;
            margin: 0 0.5em 0 0.25em;
        }
    }
}

