
@import vendorstyles

box-shadow(){
    vendor-prop( box-shadow, arguments );
}

shadow-inner-drop( color ){
    box-shadow: inset 3px 3px 10px color;
}

shadow-inner-drop-smaller( color ){
    box-shadow: inset 1px 1px 6px color;
}

shadow-inner-drop-larger( color ){
    box-shadow: inset 5px 5px 25px color;
}

