
@import borders
@import colors
@import positioning
@import selection
@import shadows

.store {
    & .categories {
        border: border-thicker();
        border-left: none;
        border-right-radius: 5px;
        clear: both;
        float: left;
        margin: 0.5em;
        margin-left: -0.5em;
        width: 25%;
        background-color: color-secondary;

        & > .tree {
            border-right-radius: @border-top-right-radius;

            & > :first-child {
                border-top-right-radius: @border-top-right-radius;
            }

            & > :last-child {
                border-bottom-right-radius: @border-bottom-right-radius;
            }
        }

        & li > .icon {
            width: 1.5em;
            height: 1.5em;
            margin-top: -0.2em;
        }
    }

    & > .items {
        width: 70%;
        float: left;

        & .item {
            clear: both;
            overflow: hidden;
            margin: 0.5em 0 0 0;
        }

        & .item + .item::before {
            display: block;
            content: "";
            border-bottom: border-thicker( style: dashed );
            margin: 0.5em 0;
        }

        & .controls {
            clear: both;
            overflow: hidden;
            float: left;
            user-select: none;

            & .quantity {
                width: 2.8em;
            }
        }

        & .icon {
            border: border-default();
            border-radius: 5px;
            shadow-inner-drop-larger: color-shadow;
            background-color: color-secondary;
            width: 5em;
            height: 5em;
            margin: 0 0.5em 0.5em 0;
            position: relative;

            & > img {
                width: 64px;
                height: 64px;
                position-center();
            }

            & > .counter {
                position-bottom-right();
                font-size: 0.75em;
                background-color: color-primary-lighter - rgba( 0, 0, 0, 0.4 );
                width: 60%;
                text-align: right;
                border-sides: (top left) (border-default());
                border-radius: 3px 0;
                shadow-inner-drop-smaller: color-shadow;
                padding-right: 0.25em;
            }
        }

        & .description {
            margin: 0 0.5em 0.5em 0;
        }
    }
}

