
@import borders
@import colors
@import selection
@import shadows

.store {
    & .categories {
        border: 3px solid color-border;
        border-left: none;
        border-radius: 0 5px 5px 0;
        clear: both;
        float: left;
        margin: 0.5em;
        margin-left: -0.5em;
        width: 25%;
        background-color: color-secondary;

        & li > .icon {
            width: 1.5em;
            height: 1.5em;
            margin-top: -0.2em;
        }
    }

    & > .items {
        width: 70%;
        float: left;

        & .item {
            clear: both;
            overflow: hidden;
            margin: 0.5em 0 0 0;
        }

        & .item + .item::before {
            display: block;
            content: "";
            border-bottom: 3px dashed color-border;
            margin: 0.5em 0;
        }


        & .controls {
            clear: both;
            overflow: hidden;
            float: left;
            user-select: none;

            & .quantity {
                width: 2.8em;
            }
        }

        & .icon {
            border: 1px solid color-border;
            border-radius: 5px;
            box-shadow: inset 5px 5px 25px color-shadow;
            background-color: color-secondary;
            width: 5em;
            height: 5em;
            margin: 0 0.5em 0.5em 0;
            position: relative;

            & > img {
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -32px 0 0 -32px;
            }

            & > .counter {
                position: absolute;
                bottom: 0;
                right: 0;
                font-size: 0.75em;
                background-color: color-primary - rgba( 0, 0, 0, 0.2 );
                width: 60%;
                text-align: right;
                border-sides: (top left) (1px solid color-border);
                border-radius: 3px 0;
                box-shadow: inset 1px 1px 6px color-shadow;
                padding-right: 0.2em;
            }
        }

        & .description {
            margin: 0 0.5em 0.5em 0;
        }
    }
}

