
@import borders
@import chevrons
@import clickables

.tree {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tree > li {
    clear: both;
    overflow: hidden;
    padding: 0.25em 0;
    background-color: #444;
}

.tree > li:nth-child(2n) {
    background-color: #5a5a5a;
}

.tree > li + li {
    padding-top: 0;
}

.tree > li + li::before {
    border-bottom: 1px solid #aaa;
    content: "";
    width: 100%;
    float: left;
    margin-bottom: 0.25em;
}

.tree > li > .subtree {
    display: none;
    margin: 0.5em 0 -0.25em 0.5em;
    border-sides: ( top left ) ( 1px solid #aaa );
    border-top-left-radius: 5px;
    clear: both;
    overflow: hidden;
}

.tree > li.open > .subtree {
    display: block;
}

.tree > li > .chevron {
    chevron-right: 0.45em #aaa;
    cursor: pointer;
}

.tree > li.open > .chevron {
    chevron-down: 0.45em #aaa;
}

